@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313147;
  }
}

.speech-bubble {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 15px 20px;
  border-radius: 20px;
  border: 2px solid black;
  max-width: 300px;
  z-index: 10;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.speech-bubble button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: rgb(15, 23, 42, 0.8);
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid rgb(134, 239, 172, 0.5);
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.back-button:hover {
  background-color: rgb(15, 23, 42, 0.9);
  border-color: rgba(134, 239, 172, 0.8);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}

.custom-mapbox-popup .mapboxgl-popup-content {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: rgba(15, 23, 42, 0.95);
  text-align: center;
  color: rgb(266, 232, 240);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}

.custom-mapbox-popup .mapboxgl-popup-content h2 {
  margin-bottom: 16px;
  margin-top: 5px;
  color: rgb(226, 232, 240);
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-mapbox-popup .fly-button {
  background-color: rgb(245, 245, 245);
  color: rgb(15, 23, 42);
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.custom-mapbox-popup .fly-button:hover {
  background-color: rgb(234, 231, 248);
}

.custom-mapbox-popup .mapboxgl-popup-close-button {
  font-size: 1.5rem;
  color: rgb(226, 232, 240);
  opacity: 0.8;
  background: none;
  right: 7px;
  top: 7px;
}

.custom-mapbox-popup .mapboxgl-popup-close-button:hover {
  opacity: 1;
  background: none;
}

.custom-mapbox-popup .mapboxgl-popup-tip {
  border-top-color: rgba(15, 23, 42, 0.95);
}

.custom-mapbox-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(15, 23, 42, 0.95);
}

.custom-mapbox-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(15, 23, 42, 0.95);
}

.custom-mapbox-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-top-color: rgba(15, 23, 42, 0.95);
}

.custom-mapbox-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-top-color: rgba(15, 23, 42, 0.95);
}

.custom-mapbox-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-top-color: rgba(15, 23, 42, 0.95);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
